<section id="adopt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Adopt</h2>
                <hr>
                <p class="text-muted">All of our adoptable buddies can be found on Adopt-a-Pet</p>
                <p><a href="https://www.adoptapet.com/shelter/231369-bosque-buddies-animal-rescue-bernalillo-new-mexico" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-l page-scroll">Adoptable Pets</a></p>
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfp7Vo-kmVAjhwU5DoB7XEEHFd_yw1Mg6Rz-8kG4OtxolPiTw/viewform" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-l page-scroll">Adoption Application</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 mt-4">
                <h2 class="section-heading text-center" style="margin-top: 20px;">Adoption FAQs</h2>
                <hr>
                <p style="font-weight: bold;">I want to adopt. Where do I start?</p>
                <p class="text-muted">Fill out our <a href="https://docs.google.com/forms/d/e/1FAIpQLSfp7Vo-kmVAjhwU5DoB7XEEHFd_yw1Mg6Rz-8kG4OtxolPiTw/viewform" target="_blank" rel="noopener noreferrer">Adoption Application</a>! A printable copy can be found <a href="">here</a>. We offer and encourage trial adoptions to ensure the pet is a great fit in their new family before signing the final paperwork. When you are certain you would like to finalize the adoption, there is an adoption agreement that we will fill out together with you.</p>
                <p style="font-weight: bold;">Can I submit an application if I’m looking for a specific type of animal that’s not currently listed?</p>
                <p class="text-muted">Yes. We will keep an eye out for what you’re looking for and can either pull the animal from a shelter or refer you to the rescue where they are located. Working together is the way to save as many as we can.</p>
                <p style="font-weight: bold;">What does rest of the adoption process look like?</p>
                <p class="text-muted">The first step is filling out the adoption application to express your desire to adopt one of the pets. The next step is a meet and greet, followed by a home visit and trial adoption period (optional, but highly recommended). Finally, we sign the final adoption agreement paperwork and collect the adoption fee.</p>
                <p style="font-weight: bold;">What does my pet need medically?</p>
                <p class="text-muted">Your pet will come with all necessary veterinary care or the arrangements to complete the care at our expense, should they be too young to receive the care at the time. For example, we cover the whole standard series of puppy vaccines, the rabies vaccine, bordatella preventative, and the spay/neuter for all dogs. If you adopt a puppy from us before all of this medical care is complete, we will schedule and cover its care when they reach the correct age.</p>
                <p style="font-weight: bold;">What if I adopt and it doesn’t work out?</p>
                <p class="text-muted">We will help find the perfect home for the animal you adopted – we are committed to supporting them for life. We understand that not every match is perfect, and we appreciate you for letting us help you out if it’s not working out. We’ll work to find the perfect match for you both!</p>
                <p style="font-weight: bold;">If it doesn't work out, are the adoption fees refundable?</p>
                <p class="text-muted">Generally not. We offer and encourage potential adopters to pursue a trial adoption prior to signing the final paperwork to ensure the pet is a good match for the owner and their household. </p>
            </div>
        </div>
    </div>
</section>

<!-- empty Q and A for FAQ section -->

<p style="font-weight: bold;"></p>
<p class="text-muted"></p>
