<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Bosque Buddies Animal Rescue</h1> -->
            <img src="../img/BBAR Logo White.png" alt="Bosque Buddies Logo" style="max-width: 50%; height: auto;">
            <!-- <hr>
            <p>We are a rescue dedicated to improving the lives of pets in New Mexico</p> -->
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
